:root {
  --primary-color: #2563eb;
  --secondary-color: #6b7280;
  --border-color: #e5e7eb;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

p {
  color: var(--secondary-color);
  max-width: 540px;
  line-height: 1.5;
}

hr {
  background-color: var(--border-color);
  height: 1px;
  border: 0;
}

header {
  background-color: #f3f4f6;
  border-radius: 0.25rem;
}

.technologies {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

main {
  display: flex;
  gap: 2rem;
  width: max-content;
}

@media only screen and (min-width: 576px) {
  main {
    gap: 4rem;
  }
}

.menu {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 0.25rem;
}

.menu-item {
  color: var(--secondary-color);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.1s ease-in;
}

.menu-item:hover {
  color: #000;
  background-color: #f3f4f6;
}

.menu-item:active {
  color: var(--primary-color);
}

.menu-item.active {
  color: var(--primary-color);
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  width: max-content;
}

@media only screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1536px) {
  .cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.card {
  border: solid 1px var(--border-color);
  border-radius: 0.375rem;
  padding: 2rem;
  transition: all 0.2s ease-in;
}

.card div {
  display: grid;
  line-height: 1.25;
}

.card.active {
  color: #ffffff;
  background-color: var(--primary-color);
}
